.yellow {
	background-color: yellow;
	height: 

}
.box {
	height: 100px;
	width: 200px;
	display: inline-block;
	padding:10px;
	margin-right: 20px;

}

.red {
	background-color:red;
}
body {
	margin:0;
}